name: airflow_ci

on: [push]
#  push:
#    branches: [ master ]
#  pull_request:
#    branches: [ master ]


jobs:
  airflow_ci:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v4
      - name: Create airflow env
        run: make setup

      - name: testing container
        run: |
          sudo docker exec -it airflow-scheduler /bin/bash
          ls -la
#      - name: Run tests
#        run: make test
#
#      - name: Run test cov
#        run: make test_cov
#
#      - name: Down airflow env
#        run: make down
  